*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

html, body{
    height: 100%;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100%;
    font-family: 'Montserrat Alternates', sans-serif;
}

.quiz-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
    border-radius: 8px;
    background-color: rgb(255, 154, 121);
    width: 600px;
    height: 480px;
    margin-top: 150px;
}

.title{
    color: azure;
    font-size: 30px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 16px;
}

.question{
    color: azure;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 400;
}

.answer-input{
    margin-top: 23px;
}

.input {
    border: none;
    border-radius: 5px;
    height: 22px;
}

.btn {
    height: 22px;
    width: 25px;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    margin-left: 5px;
}